.elements {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .elements {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    margin: 47.25px auto;
    gap: 2% 17px;
  }
}
