.popup__main {
  position: relative;
  top: 15%;
  background: #fff;
  width: 282px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .popup__main {
    width: 430px;
    top: 195px;
    margin: 0 auto;
  }
}
